<!DOCTYPE html>
<html>
<head>
    <title>Product Recommendation App</title>
</head>
<body>
    <h1>Product Recommendation App</h1>
    <form method="POST">
        <label for="username">Enter Username:</label>
        <input type="text" name="username" required>
        <button type="submit">Submit</button>
    </form>
   <!--  
    {% if recommended_products %}
    <h2>Recommended Products:</h2>
    <ul>
        {% for product in recommended_products %}
        <li>{{ product }}</li>
        {% endfor %}
    </ul>
    {% endif %} -->
</body>
</html>
